<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
<servlet>
<servlet-name>serv1</servlet-name>
<servlet-class>Mail</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>serv1</servlet-name>
<url-pattern>/Mail</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv2</servlet-name>
<servlet-class>pdf1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>serv2</servlet-name>
<url-pattern>/pdf1</url-pattern>
</servlet-mapping>


</web-app>